<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
    <title>Book Sessions</title>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" href="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/css/bootstrap.min.css"
        integrity="sha384-ggOyR0iXCbMQv3Xipma34MD+dH/1fQ784/j6cY/iJTQUOhcWr7x9JvoRxT2MZw1T" crossorigin="anonymous">
    <link rel="stylesheet" href="{% static 'css/style.css' %}">

</head>

<body>
    <div class="container">
        <div class="jumbotron booking-card-wrapper">
            <div class="card text-center booking-card">
                <div class="card-header">
                    Tutor Booking
                </div>
                <div class="card-body">
                    <h5 class="card-title">Tutor Name: Stephan Hawking</h5>
                    <p class="card-text">Tution Slot Details</p>
                    <p class="card-text">Date: Thursday, Nov 13 2019</p>
                    <p class="card-text">Time: 10:00 am to 12:30 pm</p>
                    <p class="card-text">Rate per 30min: $6</p>
                    <p class="card-text">Session Duration: 2 hours and 30 mins</p>
                    <p class="card-text">Total Amount: $30</p>
                    <form action="{% url 'charge' %}" method="post">
                        {% csrf_token %}
                        <script src="https://checkout.stripe.com/checkout.js" class="stripe-button"
                            data-key="{{ key }}"
                            data-description="Tution Slot Booking"
                            data-amount="3000"
                            data-locale="auto">
                        </script>
                    </form>
                </div>
            </div>
        </div>
    </div>

    <script src="https://code.jquery.com/jquery-3.3.1.slim.min.js"
        integrity="sha384-q8i/X+965DzO0rT7abK41JStQIAqVgRVzpbzo5smXKp4YfRvH+8abtTE1Pi6jizo"
        crossorigin="anonymous"></script>
    <script src="https://cdnjs.cloudflare.com/ajax/libs/popper.js/1.14.7/umd/popper.min.js"
        integrity="sha384-UO2eT0CpHqdSJQ6hJty5KVphtPhzWj9WO1clHTMGa3JDZwrnQq4sF86dIHNDz0W1"
        crossorigin="anonymous"></script>
    <script src="https://stackpath.bootstrapcdn.com/bootstrap/4.3.1/js/bootstrap.min.js"
        integrity="sha384-JjSmVgyd0p3pXB1rRibZUAYoIIy6OrQ6VrjIEaFf/nJGzIxFDsf4x0xIM+B07jRM"
        crossorigin="anonymous"></script>
    <script>
        $(function () {
        });
    </script>
</body>

</html>