<!DOCTYPE html>
{% load staticfiles %}
<html lang="en">

<head>
  <title> Django Autosearch POC </title>
  <meta charset="utf-8">
  <link rel="stylesheet" href="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/themes/smoothness/jquery-ui.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/css/bootstrap-tokenfield.css">
  <link rel="stylesheet" type="text/css"
    href="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/css/bootstrap.css">
  <link rel="stylesheet" href="{% static 'css/style.css' %}">
  <!-- Cliengo installation code for https://easyhr-bot-narola.herokuapp.com -->
    <script type="text/javascript">(function () {
    var ldk = document.createElement('script');
    ldk.type = 'text/javascript';
    ldk.async = true;
    ldk.src = 'https://s.cliengo.com/weboptimizer/5dcf91bde4b03b067bca6d46/5dcf91bde4b03b067bca6d49.js';
    var s = document.getElementsByTagName('script')[0];
    s.parentNode.insertBefore(ldk, s);
  })();</script>
</head>

<body>

  <!DOCTYPE html>

  <br><br>
  <div class="container">
    <form action="{% url 'index' %}" method="POST" enctype="multipart/form-data">
      <input type="hidden" name="csrfmiddlewaretoken" value="pHdneBED2llsnGfpvsXqmU4VIM4UwjfGftjOtvpk4i3HdhMxebxpGdbmf4dWwlQQ">
      <div class="form-group">
        <label>Title</label>
        <input type="text" class="form-control " name="title" maxlength="150" required="" id="id_title">
      </div>
      <!-- <br> -->
      <div class="form-group">
        <label>Description</label>
        <textarea name="description" class="form-control " cols="40" rows="10" required="" id="id_description"></textarea>
      </div>
      <!-- <br> -->
      <div class="form-group">
        <label>Image Input field</label>
        <input type="file" class="form-control " name="picture" required="required">
      </div>
      <!-- <br> -->
      <label>Add Tags</label>
      <div class="tag-wrapper">
        <input name="tags" class="" type="text" id="search" placeholder="Enter search" required="required" tabindex="-1" style="position: absolute; left: -10000px;">
      </div>
      <button type="submit" class="btn btn-primary">Submit</button>
    </form>
  </div>


  <script src="https://ajax.googleapis.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
  <script src="https://ajax.googleapis.com/ajax/libs/jqueryui/1.12.1/jquery-ui.min.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/twitter-bootstrap/3.3.7/js/bootstrap.js"></script>
  <script type="text/javascript"
    src="https://cdnjs.cloudflare.com/ajax/libs/bootstrap-tokenfield/0.12.0/bootstrap-tokenfield.js"></script>
  <script>
    $(function () {
      //var sourceDataObj = jQuery.parseJSON( "https://jsonplaceholder.typicode.com/comments" );

      //THIS SMALL SAMPLE WORKS
      var sourceDataObj = [];

      {% for tag in available_tags %}
        sourceDataObj.push({ id: '{{ tag.id }}', value: '{{ tag.name }}' });
      {% endfor %}

      $("#search").tokenfield({
        autocomplete: {
          source: sourceDataObj,
          delay: 100
        },
        showAutocompleteOnFocus: true
      });

      $("#search")
        .on("tokenfield:createtoken", function (event) {
          var existingTokens = $(this).tokenfield("getTokens");
          var exists = true;
          //PREVENT DUPLICATION
          $.each(existingTokens, function (index, token) {
            if (token.value === event.attrs.value) event.preventDefault();
          });
          //ALLOW ONLY TOKENS FROM SOURCE
          $.each(sourceDataObj, function (index, token) {
            if (token.value !== event.attrs.value) exists = false;
          });
          if (exists === true) event.preventDefault();
        })

        .on("tokenfield:removedtoken", function (event) {
          alert("Token " + event.attrs.value + " removed!");
        });
    });

  </script>
  <script>
    $('.btn').on('click', function(){
      var tagValue = $('#search').val()
      if(tagValue == '') {
        $('.tag-wrapper').addClass('form-error')
      }
    })

    $('#search').on('change', function() {
      $('.tag-wrapper').removeClass('form-error')
    })
  </script>
</body>

</html>