<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slot_schedule.css' %}" />
    <link rel="stylesheet" type="text/css" href="https://fullcalendar.io/releases/core/4.0.1/main.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.css" />
</head>

<body>

    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://fullcalendar.io/releases/core/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');
            // initialize the calendar
            // -----------------------------------------------------------------
            var calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid ', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                minTime: "7:00:00",
                maxTime: "24:00:00",
                defaultView:  'timeGridWeek',
                views: {
                    month: {
                        editable: false
                    }
                },
                editable:  true,
                selectable: true,
                eventOverlap: false,
                events: setSlotList(),
                eventColor: '#4390eb',
                eventAllow: function (dropLocation, draggedEvent ) {
                    console.log("dropLocation", dropLocation, draggedEvent);
                    return true;
                },
                select: function(eventObject) {
                    console.log("eventObject: ", eventObject);
                    alert(["Session slot date: " + eventObject.start.toLocaleDateString(),
                            "Session starts at: " + eventObject.start.toLocaleTimeString(),
                            "Session end at: " + eventObject.end.toLocaleTimeString()].join("\n"));
                    // console.log("Day is: ", eventObject.start.getDay())
                    calendar.addEvent({
                        id: 1,
                        title: 'affefvc',
                        start: eventObject.start,
                        end: eventObject.end,
                        daysOfWeek: [eventObject.start.getDay()],
                        // startRecur: eventObject.start,
                        allDay: false,
                    });
                },
                eventDrop: function (info) {
                    console.log("event to be update", info.event);
                    alert(info.event.title + " was dropped on " + info.event.start);
                    if (confirm("Are you sure about this change?")) {
                        // API call to update existing slots
                        // $.ajax({
                        //     type: 'POST',
                        //     url: "{% url 'event_schedule' %}",
                        //     data: {
                        //         'created': false, 
                        //         'start_time': info.event.start,
                        //         'end_time': info.event.end,
                        //         'sesion_id': info.event.extendedProps.sessionId,
                        //         'slot_id': info.event.id,
                        //         'csrfmiddlewaretoken': '{{ csrf_token }}'
                        //     },
                        //     success: function (data, textStatus) {
                        //         alert("Event slot updated successfully!!");
                        //     },
                        //     error: function (xhr, status, e) {
                        //         alert(status, e);
                        //     }
                        // });
                    } else {
                        info.revert();
                    }
                },

            });
            calendar.render();

            function setSlotList() {
                events = []
                {% for slot in session_slots %}
                    events.push({
                        id: {{ slot.id }},
                        title: "{{ slot.session.title }}",
                        start: "{{ slot.start_time|date:'Y-m-d' }}T{{ slot.start_time|time:'H:i' }}",
                        end: "{{ slot.end_time|date:'Y-m-d' }}T{{ slot.start_time|time:'H:i' }}",
                        sessionId: {{ slot.session_id }},
                        daysOfWeek: [2,],
                        startRecur: "{{ slot.start_time|date:'Y-m-d' }}T{{ slot.start_time|time:'H:i' }}",
                        allDay: false,
                    });
                {% endfor %}
                console.log("Session Slots: ", events);
                return events
            }
    });
    </script>
</body>

</html>