<!doctype html>
{% load staticfiles %}
<html lang="en">

<head>
    <meta charset="utf-8">
    <meta name="viewport" content="width=device-width, initial-scale=1, shrink-to-fit=no">
    <link rel="stylesheet" type="text/css" href="{% static 'css/slot_schedule.css' %}" /> 
    <link rel="stylesheet" type="text/css" href="https://fullcalendar.io/releases/core/4.0.1/main.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.css" />
    <link rel="stylesheet" type="text/css" href="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.css" />
</head>

<body>

    <div id='calendar-container'>
        <div id='calendar'></div>
    </div>

    <script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.2.1/jquery.min.js"></script>
    <script src="https://fullcalendar.io/releases/core/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/interaction/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/daygrid/4.0.1/main.min.js"></script>
    <script src="https://fullcalendar.io/releases/timegrid/4.0.1/main.min.js"></script>
    <script>
        document.addEventListener('DOMContentLoaded', function () {

            var Calendar = FullCalendar.Calendar;
            var calendarEl = document.getElementById('calendar');
            // initialize the calendar
            // -----------------------------------------------------------------
            var calendar = new Calendar(calendarEl, {
                plugins: ['interaction', 'dayGrid ', 'timeGrid'],
                header: {
                    left: 'prev,next today',
                    center: 'title',
                    right: 'dayGridMonth,timeGridWeek,timeGridDay'
                },
                defaultView:  'timeGridWeek',
                editable:  false,
                selectable: false,
                events: setSlotList(),
                eventColor: '#4390eb',
                eventClick: function(eventClickInfo) {
                    if(confirm("Are you sure you want to select this session?")) {
                        selected_slot = {
                            slotId: eventClickInfo.event.id,
                            offer_id: eventClickInfo.event.extendedProps.sessionId,
                            title: eventClickInfo.event.title,
                            start: eventClickInfo.event.start.toLocaleTimeString(),
                            end: eventClickInfo.event.end.toLocaleTimeString(),
                            date: eventClickInfo.event.start.toDateString()
                        }
                        window.localStorage.setItem('selected_slot', JSON.stringify(selected_slot));
                        
                        $('.selected-slot-detail').html( 
                            `<div class="slot-wrapper"> \
                                <button id="slot-remove" type="button" class="close" data-toggle="tooltip" data-placement="bottom" title="Remove selection">\
                                    <span aria-hidden="true">&times;</span>\
                                </button>\
                                <p>${selected_slot.title}</p> \
                                <p>Time: ${selected_slot.start} to ${selected_slot.end}</p> \
                                <p>Date: ${selected_slot.date}</p> \
                                <div class="text-center mt-2 mb-2"> \
                                    <a href="{% url 'process_payment' %}" class="btn btn-light">Proceed to booking</a> \
                                </div> \
                            </div>`
                        )

                        $('#slot-remove').on('click', function() {
                            window.localStorage.clear();
                            $('.selected-slot-detail').html("Your selected tution slots will be visible here.")
                        })
                    }
                },
            });
            calendar.render();

            function setSlotList() {
                events = []
                {% for slot in session_slots %}
                    events.push({
                        id: {{ slot.id }},
                        title: "{{ slot.title }}",
                        start: "{{ slot.start_time|date:'Y-m-d' }}T{{ slot.start_time|time:'H:i' }}",
                        end: "{{ slot.end_time|date:'Y-m-d' }}T{{ slot.end_time|time:'H:i' }}",
                        sessionId: {{ slot.session_id }}
                    });
                {% endfor %}
                console.log("Session Slots: ", events);
                return events
            }
    });
    </script>
</body>

</html>